body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #444;
    color: white;
    padding: 1em 0;
    text-align: center;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* 画面サイズが小さい場合に画像が折り返されるように設定 */
}

.image-row img {
    width: 30%; /* 画像の幅を30%に変更 */
    height: auto;
    margin: 0.5em; /* 画像の間隔を調整 */
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 1em 0;
}
